* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;

  &__logo {
    font-weight: 700;
    font-size: 18px;
    color: #6070ff;
    text-decoration: none;
  }

  &__hamburger {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.headline {
  background-image: url("./images/header-shapes-mobile.svg");
  background-size: cover;
  padding: 4rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 15%;

  &__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    color: #172b4d;
  }

  &__text {
    color: #344563;
    margin-top: 1rem;
  }

  &__link {
    margin-top: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #7f8cff;
    text-decoration: none;
    display: block;
  }

  &__icons {
    display: flex;
    padding-top: 1rem;
    gap: 1.5rem;
    list-style: none;
  }
}

.works {
}
