* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;

  &__logo {
    font-weight: 700;
    font-size: 18px;
    color: #6070ff;
    text-decoration: none;
  }

  &__hamburger {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.headline {
  background-image: url("./images/header-shapes-mobile.svg");
  background-size: cover;
  padding: 4rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 10%;

  &__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    color: #172b4d;

    &--half {
      width: 50%;
    }
  }

  &__text {
    color: #344563;
    margin-top: 1rem;
  }

  &__link {
    margin-top: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #7f8cff;
    text-decoration: none;
    display: block;
  }

  &__icons {
    display: flex;
    padding-top: 1rem;
    gap: 1.5rem;
    list-style: none;
    margin-bottom: 1rem;
  }
}

.works {
  margin-top: 4rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;

  &__single {
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
    border: 1px solid #dfe1e6;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__img {
      width: 100%;
    }

    &__title {
      font-size: 2rem;
      font-weight: 700;
      color: #172b4d;
    }

    &__details {
      display: flex;
      gap: 0.8rem;
      align-items: center;

      &__single {
        font-size: 13px;

        &--dark {
          font-weight: 700;
          color: #344563;
        }

        &--light {
          color: #7a869a;
        }
      }
    }

    &__tags {
      display: flex;
      gap: 0.8rem;

      &__single {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 12px;
        background-color: #ebebff;
        border-radius: 8px;
        color: #6070ff;
        font-size: 12px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
}

.button {
  border: 1px solid #7f8cff;
  cursor: pointer;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
  font-size: 17px;
  letter-spacing: 3%;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  width: fit-content;

  &:hover {
    background-color: #6070ff;
    color: white;
    box-shadow: 0 8px 16px 0 #4053fc3d;
  }

  &:focus {
    color: white;
    background-color: #2230d2;
  }

  &:disabled {
    color: #5e6c84;
    border: 1px solid #c1c7d0;
  }
}

.about {
  background-color: white;
  padding: 4rem 1rem 5rem;
  border-top-right-radius: 10%;
  margin-top: 4rem;

  &__categories {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
      border-bottom: 1.5px solid #dfe1e6;
      padding-bottom: 0.5rem;
      margin-top: 2rem;

      &__details {
        display: flex;
        justify-content: space-between;

        &__title {
          font-size: 21px;
          font-weight: 500;
        }
      }
    }

    &__expand {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      padding-top: 2rem;
      gap: 1rem;

      &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #f7f7f9;
        padding: 0.5rem 1rem;
        border-radius: 8px;
      }
    }
  }
}

.chevron-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
