.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #6070ff;
  }
}
